<template>
  <div v-bind:style="currentStyleObject" id="app" v-on:click.ctrl="darkTheme = !darkTheme; applyStyleToHtml();">
    <a :href="homeLink">
      <img v-if="darkTheme" src="./assets/logo_dark.jpg"/>
      <img v-if="!darkTheme" src="./assets/logo_light.jpg"/>
    </a>
    <h1>Alkotóműhely</h1>
<!--
    {{currentAspects[1]}}<br/>
    {{modifiedAspects}}<br/>
    {{aspectIndex}}<br/>
    {{activeModifiers}}<br/>
    {{warningMessages}}
    {{highestFiveAspects}}<br/>
-->
    <b-form-row>
      <b-col cols="4"></b-col>
      <b-col cols="2">
        <span>Mit készítünk:</span>
      </b-col>
      <b-col cols="2">
        <b-form-select v-model="selectedType">
          <option v-for="key in availableTypes" v-bind:value="key">{{key}}</option>
        </b-form-select>
      </b-col>
      <b-col cols="4"></b-col>
    </b-form-row>
    <b-form-row>
      <b-col cols="2"></b-col>
      <b-col cols="2">
        <span>Képzettség szintje:</span>
      </b-col>
      <b-col cols="2">
        <b-form-select v-model="skillLevel">
          <option>If</option>
          <option>Af</option>
          <option>Kf</option>
          <option>Mf</option>
          <option>Lf</option>
        </b-form-select>
      </b-col>
      <b-col cols="2">
        <span>Releváns tulajdonság:</span>
      </b-col>
      <b-col cols="2">
        <b-form-select v-model="dominantAttribute">
          <option v-for="i in 20" :value="i+3">{{i+3}}</option>
        </b-form-select>
      </b-col>
      <b-col cols="2"></b-col>
    </b-form-row>
    <b-form-row v-if="gemsAvailable">
      <b-col cols="2"></b-col>
      <b-col cols="2">
        <span>Drágakőmágia szintje:</span>
      </b-col>
      <b-col cols="2">
        <b-form-select v-model="gemSkill">
          <option>Nf</option>
          <option>If</option>
          <option>Af</option>
          <option>Kf</option>
          <option>Mf</option>
          <option>Lf</option>
        </b-form-select>
      </b-col>
      <b-col cols="4">
        <span v-if="0 != gemsMaxAspectCount">Legfeljebb {{gemsMaxAspectCount}} aspektus csökkentése {{gemsAspectMagnitude}} ponttal</span>
      </b-col>
      <b-col cols="2"></b-col>
    </b-form-row>
    <b-form-row v-if="0 != modifiers.length">
      <b-col cols="1"></b-col>
      <b-col v-for="modifier in modifiers" :key="`modifier ${modifier}`">
        <input type="checkbox" :id="modifier" :value="modifier" v-model="activeModifiers" :disabled="disabledModifiers.includes(modifier)"/>
        <label :for="modifier">{{modifier}}</label>
      </b-col>
      <b-col cols="1"></b-col>
    </b-form-row>
    <b-form-row>
      <b-col cols="12">
        <b-form-row :class="currentTableClass" v-for="i in (longestAspect + 2)" :key="`aspectTable row ${i}`">
          <template v-if="1 == i">
            <b-col :class="currentTableClass" v-for='aspect in currentAspects' :key="`aspectHeader ${aspect.name}`">
              <span>{{aspect.name}}</span>
              <span v-if="warningMessages[aspect.name]" :title="warningMessages[aspect.name]">***</span>
            </b-col>
          </template>
          <template v-else>
          <b-col :class="currentTableClass" v-for='aspect in currentAspects' :key="`aspect ${aspect.name} ${i}`">
            <template v-if="typeof aspect.selecteds !== 'undefined'">
              <template v-if="i < aspect.selecteds.length + 2">
                <b-form-row>
                  <b-col cols="9">
                    <b-form-select v-model="aspect.selecteds[i-2]">
                      <option v-for="option in aspect.values" :value="option.value">{{`[${option.value}] ${option.text}`}}</option>
                    </b-form-select>
                  </b-col>
                  <b-col cols="3">
                    <button v-if="0 < i - 2" v-on:click="aspect.selecteds.splice(i - 2, 1); if (typeof aspect.gems !== 'undefined') aspect.gems.splice(i - 2, 1);">X</button>
                  </b-col>
                </b-form-row>
                <b-form-row v-if="gemsAvailable && 'Nf' != gemSkill && (gemsUsedAspectCount < gemsMaxAspectCount || 0 != aspect.gems[i-2])">
                  <b-col cols="12">
                  <button :disabled="0 == aspect.gems[i-2]" v-on:click="modifiyGems(aspect, i - 2, -1)">-<font-awesome-icon size="xs" :icon="gemIcon"/></button>
                  <font-awesome-icon size="xs" :icon="gemIcon" v-for="j in aspect.gems[i-2]" :key="`${aspect} ${i-2} ${j}`"></font-awesome-icon>
                  <button :disabled="Math.min(gemsAspectMagnitude, parseInt((modifiedAspects[aspectIndex[aspect.name] + i - 2]) / 2)) == aspect.gems[i-2]" v-on:click="modifiyGems(aspect, i - 2, 1)">+<font-awesome-icon size="xs" :icon="gemIcon"/></button>
                  </b-col>
                </b-form-row>
              </template>
              <template v-else-if="i == aspect.selecteds.length + 2">
                <button v-on:click="aspect.selecteds.push(aspect.values[0].value); if (typeof aspect.gems !== 'undefined') aspect.gems.push(0);">++</button>
              </template>
            </template>
            <template v-else-if="2 == i">
              <b-form-select v-model="aspect.selected">
                <option v-for="option in aspect.values" :value="option.value">{{`[${option.value}] ${option.text}`}}</option>
              </b-form-select>
              <template v-if="gemsAvailable && 'Nf' != gemSkill && (gemsUsedAspectCount < gemsMaxAspectCount || 0 != aspect.gems)">
                <button :disabled="0 == aspect.gems" v-on:click="aspect.gems--">-<font-awesome-icon size="xs" :icon="gemIcon"/></button>
                <font-awesome-icon size="xs" :icon="gemIcon" v-for="j in aspect.gems" :key="`${aspect} ${j}`"></font-awesome-icon>
                <button :disabled="Math.min(gemsAspectMagnitude, parseInt((modifiedAspects[aspectIndex[aspect.name]]) / 2)) == aspect.gems" v-on:click="aspect.gems++">+<font-awesome-icon size="xs" :icon="gemIcon"/></button>
              </template>
            </template>
          </b-col>
          </template>
        </b-form-row>
      </b-col>
    </b-form-row>
    <b-form-row class="text-left">
      <b-col cols="3"></b-col>
      <b-col cols="6">
        <b-form-row class="text-center"><b-col cols="12"><b>Az elkészítés számolt értékei</b></b-col></b-form-row>
        <b-form-row><b-col class="text-right" cols="6">Költség:</b-col><b-col cols="6">{{resourceCost}}</b-col></b-form-row>
        <b-form-row><b-col class="text-right" cols="6">Készítési idő:</b-col><b-col cols="6">{{craftTime}}</b-col></b-form-row>
        <b-form-row><b-col class="text-right" cols="6">Próba cél:</b-col><b-col cols="6">{{craftingDifficulty}}</b-col></b-form-row>
        <b-form-row><b-col class="text-right" cols="6">Próba alap:</b-col><b-col cols="6">{{skillBase[0]}} (+{{skillBase[1]}})</b-col></b-form-row>
      </b-col>
      <b-col cols="3"></b-col>
    </b-form-row>
    <b-form-row v-if="gemsAvailable && 0 != gemsCarat" class="text-left">
      <b-col cols="3"></b-col>
      <b-col cols="6">
        <b-form-row class="text-center"><b-col cols="12"><b>Felhasznált drágakővel kapcsolatos számolt értékek</b></b-col></b-form-row>
        <b-form-row><b-col class="text-right" cols="6">Felhasznált aspektus-könnyítések:</b-col><b-col cols="6">{{gemsAspectDecreased}}</b-col></b-form-row>
        <b-form-row><b-col class="text-right" cols="6">Szükséges karát:</b-col><b-col cols="6">{{gemsCarat}} (ha korábban már csiszolt volt: {{Math.ceil(gemsCarat * 10 / 9)}} - {{Math.ceil(gemsCarat * 2)}})</b-col></b-form-row>
        <b-form-row><b-col class="text-right" cols="6">Csiszolási idő:</b-col><b-col cols="6">{{gemsCarat / 10}} nap</b-col></b-form-row>
        <b-form-row><b-col class="text-right" cols="6">Hozzávetőleges ár alsó határa:</b-col><b-col cols="6">{{gemsCarat * gemsCarat * 3}} * alapár</b-col></b-form-row>
      </b-col>
      <b-col cols="3"></b-col>
     <br/>
    </b-form-row>
    <b-form-row>
      <b-col cols="3"></b-col>
      <b-col cols="6"><a :href="currentStateLink">AZ ALKOTÁS LINKJE</a></b-col>
      <b-col cols="3"></b-col>
    </b-form-row>
    <b-form-row>
      <b-col cols="3"></b-col>
      <b-col cols="6"><a :href="`https://bitbucket.org/shinarit/craft/commits/${commitHash}`">Publikus repó</a></b-col>
      <b-col cols="3"></b-col>
    </b-form-row>
  </div>
</template>


<script>
import aspectsCompendium from './aspectsCompendium'

import { faGem } from '@fortawesome/free-solid-svg-icons'

function fokVal(fok) {
  switch(fok) {
    case 'Nf': return 0;
    case 'If': return 1;
    case 'Af': return 2;
    case 'Kf': return 3;
    case 'Mf': return 4;
    case 'Lf': return 5;
    default: return "mi a fasz";
  }
}

function round(value, decimals) {
  return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
}

function onlyUnique(value, index, self) {
  return self.indexOf(value) === index;
}

const costTables = {
  mana: [0, 1, 3, 6, 10, 15, 21,28, 36, 45, 55, 66, 78,],
  time: [1, 2, 3, 4, 5, 6, 8, 10, 12, 14, 16, 18, 21,],
  money: [1, 2, 3, 4, 6, 8, 10, 12, 15, 18, 21, 24, 28,],
  test: [
    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,],
    [1, 1, 2, 2, 3, 4, 4, 5, 5, 6, 7, 7, 8,],
    [0, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4, 4,],
    [0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3,],
    [0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,],
  ],
};


export default {
  name: 'Barkácsműhely',
  watch: {
    darkTheme: {
      handler() {
        this.$ls.set('theme', this.darkTheme)
      }
    },
    currentAspects: {
      handler() {
        if (this.gemsAvailable) {
          this.adjustGems();
        }
      },
      deep: true,
    },
    gemSkill: function(){
      if (this.gemsAvailable) {
        this.adjustGems();
      }
    },
    activeModifiers: {
      handler() {
        if (this.gemsAvailable) {
          this.adjustGems();
        }
      },
      deep: true,
    },
  },
  data () {
    return {
      commitHash: process.env.VUE_APP_GIT_HASH,
      //misc stuff
      darkTheme: true,

      //active data
      selectedType: "Varázstárgy",
      dominantAttribute: 10,
      skillLevel: 'Kf',
      activeModifiers: [],
      
      gemSkill: 'Nf',
      
      
      aspects: aspectsCompendium.aspects,
    }
  },
  computed: {
    gemIcon() {
      return faGem;
    },
    availableTypes() {
      return this.aspects.map(aspect => aspect.type).filter(onlyUnique);
    },
    currentAspects() {
      return this.aspects.filter(aspect => this.selectedType == aspect.type);
    },
    modifiers() {
      return this.currentAspects.filter(aspect => typeof aspect.modifiers !== 'undefined').map(aspect => aspect.modifiers).flat().filter(onlyUnique);
    },
    disabledModifiers() {
      const modDescs = aspectsCompendium.modifiers;
      let result = [];
      for (const modifier of this.modifiers) {
        if (typeof modDescs[modifier].exclusiveWith !== 'undefined' && this.activeModifiers.includes(modifier)) {
          result.push(modDescs[modifier].exclusiveWith);
        }
        if (typeof modDescs[modifier].dependentOn !== 'undefined') {
          if (this.activeModifiers.includes(modifier)) {
            result.push(modDescs[modifier].dependentOn);
          }
          if (!this.activeModifiers.includes(modDescs[modifier].dependentOn)) {
            result.push(modifier);
          }
        }
      }
      return result;
    },
    longestAspect() {
      let result = 1;
      for (const aspect of this.currentAspects) {
        if (typeof aspect.selecteds !== 'undefined' && result < aspect.selecteds.length) {
          result = aspect.selecteds.length;
        }
      }
      return result;
    },
    modifiedAspects() {
      let result = [];
      for(let i = 0; i < this.currentAspects.length; i++) {
        const aspect = this.currentAspects[i];
        const multi = typeof aspect.selected === 'undefined';
        result.push(multi ? aspect.selecteds : aspect.selected);
        if (aspect.doubled) {
          result.push(multi ? aspect.selecteds : aspect.selected);
        }
        const relevantModifiers = (typeof aspect.modifiers !== 'undefined' ? aspect.modifiers.filter(mod => this.activeModifiers.includes(mod)) : []);
        if (0 != relevantModifiers.length) {
          let modifierSum = 0;
          for (const modifier of relevantModifiers) {
            modifierSum += aspectsCompendium.modifiers[modifier].value;
          }
          if (multi) {
            result[result.length - 1] = result[result.length - 1].map(val => Math.max(Math.min(val + modifierSum, 13), 1));
          } else {
            result[result.length - 1] = Math.max(Math.min(result[result.length - 1] + modifierSum, 13), 1);
          }
        }
      }
      return result.flat();
    },
    highestFiveAspects() {
      let gemmedAspects = null;
      if (0 < this.gemsUsedAspectCount) {
        gemmedAspects = [];
        for (let i = 0; i < this.currentAspects.length; i++) {
          const aspect = this.currentAspects[i];
          if (typeof aspect.selected === 'undefined') {
            for (let j = 0; j < aspect.selecteds.length; j++) {
              gemmedAspects.push(this.modifiedAspects[this.aspectIndex[aspect.name] + j] - aspect.gems[j]);
            }
          } else {
            gemmedAspects.push(this.modifiedAspects[this.aspectIndex[aspect.name]] - aspect.gems);
          }
        }
      } else {
        gemmedAspects = [...this.modifiedAspects];
      }
      return gemmedAspects.sort(function (x, y) {return y - x;}).slice(0, 5);
    },
    resourceCost() {
      let result = "";
      if ("Varázstárgy" == this.selectedType) {
        result = `${this.highestFiveAspects.map(x => costTables.mana[x - 1]).reduce((a, b) => a + b)} mana`;
      } else {
        const moneyCoefficient = this.highestFiveAspects.map(x => costTables.money[x - 1]).reduce((a, b) => a + b);
        switch(parseInt((moneyCoefficient - 1) / 20)) {
          case 0: result = `${moneyCoefficient * 2} réz`; break;
          case 1: result = `${(moneyCoefficient - 20) / 2} ezüst`; break;
          default: result = `${moneyCoefficient - 40} arany`; break;
        }
      }
      return result;
    },
    craftTime() {
      const timeCoefficient = this.highestFiveAspects.map(x => costTables.time[x - 1]).reduce((a, b) => a + b);
      switch(parseInt((timeCoefficient - 1) / 30)) {
        case 0: return `${timeCoefficient} perc`;
        case 1: return `${(timeCoefficient - 30)} óra`;
        default: return `${(timeCoefficient - 60) * 2} nap`;
      }
    },
    craftingDifficulty() {
      return this.highestFiveAspects.map((x, idx) => costTables.test[idx][x - 1]).reduce((a, b) => a + b);
    },
    skillBase() {
      return [fokVal(this.skillLevel) * 2 + Math.floor(this.dominantAttribute / 2), this.dominantAttribute % 2];
    },
    
    gemsAvailable() {
      return typeof this.currentAspects[0].gems !== 'undefined';
    },
    gemsMaxAspectCount() {
      return fokVal(this.gemSkill);
    },
    gemsAspectMagnitude() {
      return fokVal(this.gemSkill);
    },
    gemsUsedAspectCount() {
      let sum = 0;
      if (this.gemsAvailable) {
        for (const aspect of this.currentAspects) {
          if (typeof aspect.selected !== 'undefined') {
            if (0 != aspect.gems) {
              sum++;
            }
          } else {
            sum += aspect.gems.filter(val => 0 != val).length;
          }
        }
      }
      return sum;
    },
    gemsAspectDecreased() {
      let result = 0;
      for (const aspect of this.currentAspects) {
        if (typeof aspect.selected !== 'undefined') {
          result += aspect.gems;
        } else {
          result += aspect.gems.reduce((a, b) => a + b, 0);
        }
      }
      return result;
    },
    gemsCarat() {
      return this.gemsAspectDecreased * this.gemsAspectDecreased;
    },
    
    aspectIndex() {
      let result = {};
      let sum = 0;
      for (const aspect of this.currentAspects) {
        result[aspect.name] = sum;
        sum += (typeof aspect.selected === 'undefined' ? aspect.selecteds.length : 1);
      }
      return result;
    },
    
    warningMessages() {
      let result = {};
      for (let i = 0; i < this.currentAspects.length; i++) {
        const aspect = this.currentAspects[i];
        if (typeof aspect.validator !== 'undefined') {
          const validatees = [aspect, ...this.currentAspects.filter(asp => aspect.validator[0].includes(asp.name))];
          result[aspect.name] = (aspect.validator[1])(...validatees);
        }
      }
      return result;
    },
    
    homeLink() {
      return location.origin;
    },
    currentStyleObject() {
      if (this.darkTheme) {
        return {
          'background-color': 'black',
          color: 'white'
        };
      } else {
        return {
          'background-color': 'white',
          color: 'black'
        };
      }
    },
    currentTableClass() {
      if (this.darkTheme) {
        return "darkTable";
      } else {
        return "lightTable";
      }
    },
    saveCode() {
      let toCode = {
        darkTheme: this.darkTheme,
        selectedType: this.selectedType,
        dominantAttribute: this.dominantAttribute,
        skillLevel: this.skillLevel,
        activeModifiers: JSON.parse(JSON.stringify(this.activeModifiers)),
        gemSkill: this.gemSkill,
        aspects: null,
      };
      toCode.aspects = this.currentAspects.map(function(aspect) {
        return {
          name: aspect.name,
          selected: aspect.selected,
          selecteds: aspect.selecteds,
          gems: aspect.gems
        };
     });
      return btoa(unescape(encodeURIComponent(JSON.stringify(toCode))));
    },
    currentStateLink() {
      return location.origin + location.pathname + '?kod=' + this.saveCode;
    },
  },
  methods: {
    adjustGems() {
      //TODO kódot kiemelni
      let idx = 0;
      let usedGemSlots = 0;
      for (let i = 0; i < this.currentAspects.length; i++) {
        const aspect = this.currentAspects[i];
        if (typeof aspect.selected !== 'undefined') {
          if (usedGemSlots == this.gemsMaxAspectCount) {
            aspect.gems = 0;
          } else {
            aspect.gems = Math.min(aspect.gems, Math.min(parseInt(this.modifiedAspects[idx] / 2), this.gemsAspectMagnitude));
          }
          if (0 != aspect.gems) {
            usedGemSlots++;
          }
          idx++;
        } else {
          for (let j = 0; j < aspect.selecteds.length; j++) {
            if (usedGemSlots == this.gemsMaxAspectCount) {
              aspect.gems[j] = 0;
            } else {
              aspect.gems[j] = Math.min(aspect.gems[j], Math.min(parseInt(this.modifiedAspects[idx] / 2), this.gemsAspectMagnitude));
            }
            if (0 != aspect.gems[j]) {
              usedGemSlots++;
            }
            idx++;
          }
        }
      }
    },
    modifiyGems(aspect, gemIdx, value) {
      this.$set(aspect.gems, gemIdx, aspect.gems[gemIdx] + value)
    },
    applyStyleToHtml() {
      document.querySelector('html').className = this.darkTheme ? 'darkTheme' : 'lightTheme';
    },
  },
  created: function() {
    this.darkTheme = this.$ls.get('theme', [])
    const getParam = function(name) {
      if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search)) {
        return decodeURIComponent(name[1]);
      }
    };
    let codedInfo = getParam("kod");
    if (codedInfo) {
      try {
        codedInfo = JSON.parse(decodeURIComponent(escape(atob(codedInfo))));

        this.darkTheme = codedInfo.darkTheme;
        this.selectedType = codedInfo.selectedType;
        this.dominantAttribute = codedInfo.dominantAttribute;
        this.activeModifiers = JSON.parse(JSON.stringify(codedInfo.activeModifiers));
        this.gemSkill = codedInfo.gemSkill;
        
        this.$nextTick().then(() => {
          for (let i = 0; i < this.currentAspects.length; i++) {
            let aspect = this.currentAspects[i];
            aspect.selected = codedInfo.aspects[i].selected;
            aspect.selecteds = codedInfo.aspects[i].selecteds;
            aspect.gems = codedInfo.aspects[i].gems;
          } 
        });
      } catch (e) {
      }
    }
    this.applyStyleToHtml();
  },
}
</script>

<style>
html,body {
  height: 100%;
}
.darkTable {
  border: 1px solid white;
  border-collapse: collapse;
}
.lightTable {
  border: 1px solid black;
  border-collapse: collapse;
}
.darkTheme {
  background-color: black;
  color: white;
}
.lightTheme {
  background-color: white;
  color: black;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
  padding: 10px;
}
a {
  color: #42b983;
}
</style>
