<template>
</template>

<script>
export default {
  modifiers: {
    Leplezett: {
      value: 1,
    },
    Fenntartott: {
      value: -1,
    },
    Kontrollált: {
      value: 1,
      exclusiveWith: "Irányított",
    },
    Irányított: {
      value: -2,
      exclusiveWith: "Kontrollált",
    },
    Ismétlődő: {
      value: 2,
    },
  },
  aspects: [
    {
      type: "Varázstárgy",
      name: "Erősség",
      values: [
        {
          value: 1,
          text: "1 E",
        },
        {
          value: 2,
          text: "2 E",
        },
        {
          value: 3,
          text: "3 E",
        },
        {
          value: 4,
          text: "4 E",
        },
        {
          value: 5,
          text: "5 E",
        },
        {
          value: 6,
          text: "6 E",
        },
        {
          value: 7,
          text: "7 E",
        },
        {
          value: 8,
          text: "8 E",
        },
        {
          value: 9,
          text: "9 E",
        },
        {
          value: 10,
          text: "10 E",
        },
        {
          value: 11,
          text: "11 E",
        },
        {
          value: 12,
          text: "12 E",
        },
      ],
      selecteds: [1,],
      modifiers: ["Leplezett",],
      gems: [0,],
    },
    {
      type: "Varázstárgy",
      name: "Távolság",
      values: [
        {
          value: 1,
          text: "önmaga",
        },
        {
          value: 2,
          text: "érintés; szimpatikus kapcsolat",
        },
        {
          value: 3,
          text: "20 láb",
        },
        {
          value: 4,
          text: "50 láb",
        },
        {
          value: 5,
          text: "100 láb, hallótáv",
        },
        {
          value: 6,
          text: "1 mérföld, látótáv",
        },
        {
          value: 7,
          text: "10 mérföld",
        },
        {
          value: 8,
          text: "100 mérföld",
        },
        {
          value: 9,
          text: "1000 mérföld",
        },
        {
          value: 10,
          text: "kontinens",
        },
        {
          value: 11,
          text: "planéta",
        },
        {
          value: 12,
          text: "korlátlan",
        },
      ],
      selecteds: [1,],
      modifiers: ["Leplezett",],
      gems: [0,],
    },
    {
      type: "Varázstárgy",
      name: "Terület",
      values: [
        {
          value: 1,
          text: "rész, szilánk",
        },
        {
          value: 2,
          text: "önmaga, apró tárgy, 1 láb",
        },
        {
          value: 3,
          text: "1 személy, kisebb tárgy, 2 láb",
        },
        {
          value: 4,
          text: "2 személy, közepes tárgy, 5 láb",
        },
        {
          value: 5,
          text: "5 személy, nagy tárgy, 20 láb",
        },
        {
          value: 6,
          text: "12 személy, apró objektum, 100 láb",
        },
        {
          value: 7,
          text: "30 személy",
        },
        {
          value: 8,
          text: "kisebb objektum, 1 mérföld",
        },
        {
          value: 9,
          text: "100 személy",
        },
        {
          value: 10,
          text: "közepes objektum, 10 mérföld",
        },
        {
          value: 11,
          text: "1000 személy",
        },
        {
          value: 12,
          text: "nagy objektum, 100 mérföld",
        },
      ],
      selecteds: [1,],
      modifiers: ["Leplezett",],
      gems: [0,],
    },
    {
      type: "Varázstárgy",
      name: "Időtartam",
      values: [
        {
          value: 1,
          text: "egyszeri",
        },
        {
          value: 2,
          text: "egy kör",
        },
        {
          value: 3,
          text: "több kör",
        },
        {
          value: 4,
          text: "több perc",
        },
        {
          value: 5,
          text: "több óra",
        },
        {
          value: 6,
          text: "több nap",
        },
        {
          value: 7,
          text: "több hét",
        },
        {
          value: 8,
          text: "több hónap",
        },
        {
          value: 9,
          text: "több év",
        },
        {
          value: 10,
          text: "több évszázad",
        },
        {
          value: 11,
          text: "több évezred",
        },
        {
          value: 12,
          text: "örökkévalóság",
        },
      ],
      selecteds: [1,],
      modifiers: ["Leplezett", "Fenntartott",],
      gems: [0,],
    },
    {
      type: "Varázstárgy",
      name: "Mechanizmus",
      values: [
        {
          value: 1,
          text: "nincs",
        },
        {
          value: 2,
          text: "egyszerű",
        },
        {
          value: 3,
          text: "gyengén összetett",
        },
        {
          value: 4,
          text: "közepesen összetett",
        },
        {
          value: 5,
          text: "erősen összetett",
        },
        {
          value: 6,
          text: "abszolút összetett",
        },
        {
          value: 7,
          text: "csekély hatalmú",
        },
        {
          value: 8,
          text: "alacsony hatalmú",
        },
        {
          value: 9,
          text: "közepes hatalmú",
        },
        {
          value: 10,
          text: "magas hatalmú",
        },
        {
          value: 11,
          text: "kiugró hatalmú",
        },
        {
          value: 12,
          text: "abszolút hatalmú",
        },
      ],
      selecteds: [1,],
      modifiers: ["Leplezett", "Kontrollált", "Irányított", "Ismétlődő",],
      gems: [0,],
    },
    {
      type: "Varázstárgy",
      name: "Működés",
      values: [
        {
          value: 1,
          text: "™",
        },
        {
          value: 2,
          text: "varázstekercs",
        },
        {
          value: 3,
          text: "™",
        },
        {
          value: 4,
          text: "1 töltet",
        },
        {
          value: 5,
          text: "™",
        },
        {
          value: 6,
          text: "egyszer használatos",
        },
        {
          value: 7,
          text: "™",
        },
        {
          value: 8,
          text: "3 töltet",
        },
        {
          value: 9,
          text: "™",
        },
        {
          value: 10,
          text: "10 töltet",
        },
        {
          value: 11,
          text: "™",
        },
        {
          value: 12,
          text: "30 töltet",
        },
      ],
      selected: 6,
      gems: 0,
    },
    {
      type: "Varázstárgy",
      name: "Töltődés",
      values: [
        {
          value: 1,
          text: "nem tölthető",
        },
        {
          value: 2,
          text: "™",
        },
        {
          value: 3,
          text: "™",
        },
        {
          value: 4,
          text: "tölthető",
        },
        {
          value: 5,
          text: "™",
        },
        {
          value: 6,
          text: "egy év alatt töltődő",
        },
        {
          value: 7,
          text: "5 hónap alatt töltődő",
        },
        {
          value: 8,
          text: "egy hónap alatt töltődő",
        },
        {
          value: 9,
          text: "egy hét alatt töltődő",
        },
        {
          value: 10,
          text: "egy nap alatt töltődő",
        },
        {
          value: 11,
          text: "öt óra alatt töltődő",
        },
        {
          value: 12,
          text: "egy óra alatt töltődő",
        },
      ],
      selected: 1,
      modifiers: [],
      gems: 0,
    },
    {
      type: "Méreg",
      name: "Szint",
      values: [
        {
          value: 1,
          text: "1 E",
        },
        {
          value: 2,
          text: "2 E",
        },
        {
          value: 3,
          text: "3 E",
        },
        {
          value: 4,
          text: "4 E",
        },
        {
          value: 5,
          text: "5 E",
        },
        {
          value: 6,
          text: "6 E",
        },
        {
          value: 7,
          text: "7 E",
        },
        {
          value: 8,
          text: "8 E",
        },
        {
          value: 9,
          text: "9 E",
        },
        {
          value: 10,
          text: "10 E",
        },
        {
          value: 11,
          text: "11 E",
        },
        {
          value: 12,
          text: "12 E",
        },
      ],
      selected: 1,
    },
    {
      type: "Méreg",
      name: "Hatás",
      values: [
        {
          value: 1,
          text: "1k2; 0,5 HMO",
        },
        {
          value: 2,
          text: "2k5; 1 HMO; 1 TGT",
        },
        {
          value: 3,
          text: "4k5; 1,5 HMO",
        },
        {
          value: 4,
          text: "6k5; 2 HMO; 2 TGT",
        },
        {
          value: 5,
          text: "8k5; 2,5 HMO",
        },
        {
          value: 6,
          text: "részleges bénulás; 10k5; 3 HMO; 3 TGT",
        },
        {
          value: 7,
          text: "12k5; 3,5 HMO",
        },
        {
          value: 8,
          text: "teljes bénultság; 14k5; 4 HMO; 4 TGT",
        },
        {
          value: 9,
          text: "alvás; 16k5; 4,5 HMO",
        },
        {
          value: 10,
          text: "ájulás; 18k5; 5 HMO; 5 TGT",
        },
        {
          value: 11,
          text: "tetszhalál; 20k5; 5,5 HMO",
        },
        {
          value: 12,
          text: "halál; 22k5; 6 HMO; 6 TGT",
        },
      ],
      selecteds: [2, 1,],
      validator: [["Szint"], function(self, szint) {
        if (self.selecteds.length < 2) {
          return "Legalább egy fő- és egy mellékhatásnak szereplnie kell!";
        }
        const főMin = self.selecteds.slice(0, self.selecteds.length - 1).reduce(function(a, b) {
          return a < b ? a : b;
        });
        if (főMin <= self.selecteds[self.selecteds.length - 1]) {
          return "Mellékhatásnak (utolsó Hatás aspektus) alacsonyabbnak kell lennie minden főhatásnál!";
        }
        if (szint.selected < self.selecteds[self.selecteds.length - 1]) {
          return "A szintnek el kell érnie a mellékhatás (utolsó Hatás aspektus) értékét!";
        }
        return null;
      }],
    },
    {
      type: "Méreg",
      name: "Aktivizálódás",
      values: [
        {
          value: 1,
          text: "2k5 óra",
        },
        {
          value: 2,
          text: "2k5 perc",
        },
        {
          value: 3,
          text: "2k5 nap",
        },
        {
          value: 4,
          text: "2k5 kör",
        },
        {
          value: 5,
          text: "2k5 hónap",
        },
        {
          value: 6,
          text: "1 kör",
        },
        {
          value: 7,
          text: "1 év",
        },
        {
          value: 8,
          text: "azonnali",
        },
        {
          value: 9,
          text: "™",
        },
        {
          value: 10,
          text: "lappangó",
        },
        {
          value: 11,
          text: "™",
        },
        {
          value: 12,
          text: "1 éven túl",
        },
      ],
      selected: 1,
    },
    {
      type: "Méreg",
      name: "Időtartam",
      values: [
        {
          value: 1,
          text: "pillanat",
        },
        {
          value: 2,
          text: "1 kör",
        },
        {
          value: 3,
          text: "2k5 kör",
        },
        {
          value: 4,
          text: "2k5 perc",
        },
        {
          value: 5,
          text: "2k5 óra",
        },
        {
          value: 6,
          text: "2k5 nap",
        },
        {
          value: 7,
          text: "2k5 hónap",
        },
        {
          value: 8,
          text: "1 év",
        },
        {
          value: 9,
          text: "™",
        },
        {
          value: 10,
          text: "tartós",
        },
        {
          value: 11,
          text: "™",
        },
        {
          value: 12,
          text: "™",
        },
      ],
      selecteds: [1, 1,],
      validator: [["Hatás"], function(self, hatás) {
        if (self.selecteds.length != hatás.selecteds.length) {
          return "Minden Hatáshoz pontosan egy Időtartam kell tartozzon!";
        }
        for (let i = 0; i < self.selecteds.length; i++) {
          if (hatás.selecteds[i] == 9 && self.selecteds[i] != 9) {
            return "A 'halál' hatáshoz kötelező a '[9] tartós' Időtartam!";
          }
        }
        return null;
      }],
    },
    {
      type: "Méreg",
      name: "Aktivitás",
      values: [
        {
          value: 1,
          text: "órák",
        },
        {
          value: 2,
          text: "nap",
        },
        {
          value: 3,
          text: "napok",
        },
        {
          value: 4,
          text: "hetek",
        },
        {
          value: 5,
          text: "hónap",
        },
        {
          value: 6,
          text: "hónapok",
        },
        {
          value: 7,
          text: "évek",
        },
        {
          value: 8,
          text: "évtizedek",
        },
        {
          value: 9,
          text: "™",
        },
        {
          value: 10,
          text: "korlátlan",
        },
        {
          value: 11,
          text: "™",
        },
        {
          value: 12,
          text: "™",
        },
      ],
      selected: 1,
    },
    {
      type: "Méreg",
      name: "Forma/komponensszám",
      values: [
        {
          value: 1,
          text: "™",
        },
        {
          value: 2,
          text: "™",
        },
        {
          value: 3,
          text: "™",
        },
        {
          value: 4,
          text: "étel, ital",
        },
        {
          value: 5,
          text: "fegyver, vér",
        },
        {
          value: 6,
          text: "légi",
        },
        {
          value: 7,
          text: "2 komponens",
        },
        {
          value: 8,
          text: "3 komponens",
        },
        {
          value: 9,
          text: "kontakt",
        },
        {
          value: 10,
          text: "4 komponens",
        },
        {
          value: 11,
          text: "5+ komponens",
        },
        {
          value: 12,
          text: "különleges",
        },
      ],
      selecteds: [4,],
    },
    {
      type: "Alkímista szer",
      name: "Főhatás",
      values: [
        {
          value: 1,
          text: "nincs",
        },
        {
          value: 2,
          text: "hétköznapi",
        },
        {
          value: 3,
          text: "gyakori",
        },
        {
          value: 4,
          text: "általános",
        },
        {
          value: 5,
          text: "ritka",
        },
        {
          value: 6,
          text: "rendkívüli",
        },
        {
          value: 7,
          text: "™",
        },
        {
          value: 8,
          text: "mágikus (gyengített)",
        },
        {
          value: 9,
          text: "™",
        },
        {
          value: 10,
          text: "páratlan",
        },
        {
          value: 11,
          text: "™",
        },
        {
          value: 12,
          text: "mágikus (megőrzött)",
        },
      ],
      selecteds: [2,],
      doubled: true,
      validator: [["Mellékhatás", "Hatóerő", "Hatóidő"], function(self, mellék, erő, idő) {
        const numOfEffects = self.selecteds.length + mellék.selecteds.filter(val => 1 != val).length;
        if (erő.selecteds.length != numOfEffects || idő.selecteds.length != numOfEffects) {
          return "A hatások számával megegyező Hatóerő és Hatóidő aspektusnak kell szerepelnie!";
        }
        return null;
      }],
    },
    {
      type: "Alkímista szer",
      name: "Mellékhatás",
      values: [
        {
          value: 1,
          text: "nincs",
        },
        {
          value: 2,
          text: "hétköznapi",
        },
        {
          value: 3,
          text: "gyakori",
        },
        {
          value: 4,
          text: "általános",
        },
        {
          value: 5,
          text: "ritka",
        },
        {
          value: 6,
          text: "rendkívüli",
        },
        {
          value: 7,
          text: "™",
        },
        {
          value: 8,
          text: "mágikus (gyengített)",
        },
        {
          value: 9,
          text: "™",
        },
        {
          value: 10,
          text: "páratlan",
        },
        {
          value: 11,
          text: "™",
        },
        {
          value: 12,
          text: "mágikus (megőrzött)",
        },
      ],
      selecteds: [1,],
      validator: [["Főhatás"], function(self, főhatás) {
        const főMin = főhatás.selecteds.reduce(function(a, b) {
          return a < b ? a : b;
        });
        const mellékMax = self.selecteds.reduce(function(a, b) {
          return a < b ? b : a;
        });
        if (főMin < mellékMax + 3 && 1 != mellékMax) {
          return "Minden mellékhatásnak legalább hárommal alacsonyabbnak kell lennie minden Főhatásnál!";
        }
        return null;
      }],
    },
    {
      type: "Alkímista szer",
      name: "Hatóerő",
      values: [
        {
          value: 1,
          text: "1E, jelentéktelen",
        },
        {
          value: 2,
          text: "2E",
        },
        {
          value: 3,
          text: "3E, számottevő",
        },
        {
          value: 4,
          text: "4E",
        },
        {
          value: 5,
          text: "5E, intenzív",
        },
        {
          value: 6,
          text: "6E",
        },
        {
          value: 7,
          text: "7E",
        },
        {
          value: 8,
          text: "8E, kiemelkedő",
        },
        {
          value: 9,
          text: "9E",
        },
        {
          value: 10,
          text: "10E",
        },
        {
          value: 11,
          text: "11E",
        },
        {
          value: 12,
          text: "12E, abszolút",
        },
      ],
      selecteds: [1,],
    },
    {
      type: "Alkímista szer",
      name: "Hatóterület",
      values: [
        {
          value: 1,
          text: "pontszerű",
        },
        {
          value: 2,
          text: "apró tárgy, 1 láb",
        },
        {
          value: 3,
          text: "1 személy, kisebb tárgy, 2 láb",
        },
        {
          value: 4,
          text: "közepes tárgy, 5 láb",
        },
        {
          value: 5,
          text: "nagy tárgy, 10 láb",
        },
        {
          value: 6,
          text: "apró objektum, 20 láb",
        },
        {
          value: 7,
          text: "50 láb",
        },
        {
          value: 8,
          text: "kisebb objektum",
        },
        {
          value: 9,
          text: "100 láb",
        },
        {
          value: 10,
          text: "közepes objektum",
        },
        {
          value: 11,
          text: "1 mérföld",
        },
        {
          value: 12,
          text: "nagy objektum",
        },
      ],
      selected: 1,
    },
    {
      type: "Alkímista szer",
      name: "Hatóidő",
      values: [
        {
          value: 1,
          text: "egyszeri",
        },
        {
          value: 2,
          text: "egy kör",
        },
        {
          value: 3,
          text: "több (k5) kör",
        },
        {
          value: 4,
          text: "több (k5) perc",
        },
        {
          value: 5,
          text: "több (k5) óra",
        },
        {
          value: 6,
          text: "több (k5) nap",
        },
        {
          value: 7,
          text: "több (k5) hét",
        },
        {
          value: 8,
          text: "több (k5) hónap",
        },
        {
          value: 9,
          text: "több (k5) év",
        },
        {
          value: 10,
          text: "több (k5) évszázad",
        },
        {
          value: 11,
          text: "több (k5) évezred",
        },
        {
          value: 12,
          text: "örökkévalóság",
        },
      ],
      selecteds: [1,],
    },
    {
      type: "Alkímista szer",
      name: "Aktivitás",
      values: [
        {
          value: 1,
          text: "órák",
        },
        {
          value: 2,
          text: "nap",
        },
        {
          value: 3,
          text: "napok",
        },
        {
          value: 4,
          text: "hetek",
        },
        {
          value: 5,
          text: "hónap",
        },
        {
          value: 6,
          text: "hónapok",
        },
        {
          value: 7,
          text: "évek",
        },
        {
          value: 8,
          text: "évtizedek",
        },
        {
          value: 9,
          text: "™",
        },
        {
          value: 10,
          text: "korlátlan",
        },
        {
          value: 11,
          text: "™",
        },
        {
          value: 12,
          text: "™",
        },
      ],
      selected: 1,
    },
    {
      type: "Alkímista szer",
      name: "Forma",
      values: [
        {
          value: 1,
          text: "™",
        },
        {
          value: 2,
          text: "folyadék",
        },
        {
          value: 3,
          text: "™",
        },
        {
          value: 4,
          text: "kenőcs",
        },
        {
          value: 5,
          text: "™",
        },
        {
          value: 6,
          text: "gáz",
        },
        {
          value: 7,
          text: "™",
        },
        {
          value: 8,
          text: "szilárd",
        },
        {
          value: 9,
          text: "™",
        },
        {
          value: 10,
          text: "™",
        },
        {
          value: 11,
          text: "™",
        },
        {
          value: 12,
          text: "™",
        },
      ],
      selected: 1,
    },
  ],
};
</script>
